.Footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

.FooterSectionTitle {
  @include headline-4;
}

.FooterSectionContent {
  margin-top: 16px;
}

.FooterSectionContentRow {
  @include headline-5;
  color: $dark-color;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@layer variants { 
  .FooterSectionAnchor { 
    color: $dark-color;
  }
}