.AuthForm {
  color: #fff;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(187, 176, 176, 0.05);
  backdrop-filter: blur(15px);
}

.Title {
  text-align: center;
  @include headline-3;
}

.InputBlock {
  margin-top: 20px;
}

.Label {
  display: block;
  @include headline-5;
  margin-bottom: 4px;
}

.Input {
  border-color: #fff;
  width: 100%;
}

.Button {
  width: 100%;
  margin-top: 30px;
}

.Separator {
  margin: 20px 0px;
  background-color: #fff;
  width: 100%;
  height: 0.5px;
  border: none;
}

.GoogleButton {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 12px;
}

.GoogleButtonLogo {
  width: 20px;
  height: 20px;
}

.AlternativeContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Alternative {
  color: #fff;
}