$primary-color: #263CFD;
$secondary-color: #E3C414;

$grey-100: #D8DAED;
$grey-200: #BFC0D1;
$grey-300: #A5A7B5;
$grey-400: #8C8D99;
$grey-500: #72737D;
$grey-600: #5A5B63;

$dark-color: #030724;

$success-color: #3EC728;
$error-color: #EF3535;

$container-width: 1110px;