:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};

  --grey-100: #{$grey-100};
  --grey-200: #{$grey-200};
  --grey-300: #{$grey-300};
  --grey-400: #{$grey-400};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};

  --dark-color: #{$dark-color};

  --success-color: #{$success-color};
  --error-color: #{$error-color};

  --container-width: #{$container-width};

  --font-family: 'Nunito';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 1px;
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Nunito';
}