.Diapason {
  padding: 28px 20px 6px 20px;
  width: 320px;
}

.DiapasonRails {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  border: 1px solid $dark-color;
  box-sizing: border-box;
  position: relative;
}

.Indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: $primary-color;
  border: 1px solid $dark-color;
  bottom: -7px;
  z-index: 1;
  cursor: pointer;

  &[data-indicator-active] {
    z-index: 2;
  }
}

.SelectedDiapason {
  height: 7px;
  width: 100%;
  background-color: $primary-color;
  position: absolute;
}

.IndicatorReference {
  width: 100%;
  height: 100%;
  position: relative;
}

.IndicatorLabel {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 1px;
  @include headline-6;
}