.FiltersBar {
  width: 200px;
  flex: 0 0 200px;
}

.FiltersBarTitle {
  @include headline-2;
  padding: 10px 0px;
}

.FiltersBarSeparator {
  width: 100%;
  height: 1px;
  background-color: $primary-color;
  border: none;
}

.FiltersBarSection {
  width: 100%;
  padding: 20px 0px;
}

.FiltersBarSectionTitle {
  @include headline-3;
}

.DiapasonSelector {
  width: 100%;
}